{% load crispy_forms_tags%}
<div
  class="modal fade"
  id="changePassword"
  tabindex="-1"
  aria-labelledby="changePasswordLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="{%url 'change-password'%}" method="post">
        <div class="modal-header">
          <h5 class="modal-title" id="changePasswordLabel">Change password</h5>
          <button
            type="button"
            class="btn-close"
            data-mdb-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {%csrf_token%}
            {{change_password|crispy}}</div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-mdb-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Change</a>
        </div>
      </form>
    </div>
  </div>
</div>
