{% extends 'base.html' %}
{% load static %} 
{%block title %}Categories{%endblock%}
{% block content %}
<div class="container-fluid pt-5">
    <div class="row px-xl-3 pb-2">
        <h2 class="text-uppercase mb-2" style="text-align: center">all categories</h2>
        {% for category in categories%}
        <div class="col-lg-3 col-md-6 pb-4 ">
            <div class="card hover-zoom ripple">
                <div class="bg-image">
                    <img src="/media/{{category.image}}" class="card-image w-100" alt="{{category.image}}" />
                </div>
                <div class="card-body">
                    <a href="{%url 'category-detailed' category.id%}" class="stretched-link"></a>
                    <h5 class="card-title text-muted">{{category.name}}</h5>
                    <p class="card-text text-muted">{{category.description}}</p>      
                </div>
                <p class="card-footer text-muted pb-0">
                    Last Updated At: {{category.updated_at}}
                </p>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{%include 'components/footer.html'%} {%endblock%}

