{% extends 'base.html' %}
{% load static %} {%block title %}Products{%endblock%}
{% block content %}
<div class="row px-2">
  <div class="col-lg-3 col-md-4">
    <div class="card-body px-0">
      <div class="accordion accordion-borderless" id="accordionFlushExampleX">
        {%include './categories_picker.html' %} 
        {%include './price_filter.html'%}
      </div>
    </div>
  </div>

  <div class="col-lg-9 col-md-8">
    <div class="row pb-2">
      <h4 class="text-uppercase mb-3 col-12" style="text-align: center">
        {%if current_category %}
        {{current_category}}
        {%else%}
        All products
        {%endif%}
      </h4>
      {%if products.count%} 
      {% for product in products%}
      <div class="col-lg-3 col-md-4 pb-1">
        <div class="card">
          <div class="h-50">
            <img
              src="/media/{{product.image}}"
              alt="{{product.image}}"
              class="rounded-start img-fluid px-3"
            />
          </div>

          <div class="card-body text-muted">
            <h5 class="card-title">{{product.name}}</h5>
            <!-- <p class="card-text">{{product.description}}</p> -->
            <h5 class="card-title">MRP: {{product.price}}</h5>

            <div class="card-footer px-0">
              <a
                href="{%url 'item_detailed' product.pk %}"
                class="col-lg-12 card-link btn btn-secondary mb-2"
                >View Item</a
              >
              <a href="#" class="col-lg-12 btn btn-primary mb-0">Add To cart</a>
            </div>
          </div>
          <div class="card-footer">
            <small class="text-muted"
              >Last updated {{product.updated_at}}</small
            >
          </div>
        </div>
      </div>
      {%endfor%} {%else%}
      <div
        class="d-flex align-items-center justify-content-center flex-column py-3"
      >
        <img
          src="{% static 'images/empty-box.png'%}"
          alt="Empty-box"
          class="img-fluid"
        />
        <h3>No Items Found</h3>
      </div>

      {%endif%}
    </div>
  </div>
</div>
{%include 'components/footer.html'%} {%endblock%}

