{%extends 'base.html'%} {%load static %}{% load stars_tags %} {%block title%}My
Fvourites{%endblock%} {%block content%}
<div class="container">
  <div class="py-5 text-center">
    <h2>Your favourites</h2>
    <p class="lead">
      💓 Keeping track of favourites is hard .So, providing your favourites at a
      single place 💓
    </p>
  </div>
  <div class="container">
    {%if items.count%}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Favourites</h5>
        <hr class="my-4" />
        <div class="row">
          {% for item in items%}
          <div class="col-lg-3 col-md-4">
            <article class="temside align-items-center">
              <img
                src="{{item.product.image.url}}"
                class="img-sm img-thumbnail" />

              <div>
                <div class="py-1">
                  {%if item.review_set.count%} {%for r in '12345'%} 
                  {%if item.review_set.all|avg_ratings|check_star:r%}
                  <i class="fa-solid fa-star"></i>
                  {%else%}
                  <i class="fa-regular fa-star"></i>
                  {%endif%} {%endfor%}
                  <b class="text-primary"
                    >{{item.review_set.all|avg_ratings}} stars</b
                  >
                  {%else%}
                  <p class="text-center text-primary m-0">No reviews yet</p>
                  {%endif%}
                </div>
              </div>
              <h6 class="me-4 py-3 text-center">MRP {{item.product.price}}</h6>
              <div>
                <form action="{% url 'add-to-cart' %}" method="post">
                  {%csrf_token%}
                  <input type="hidden" name="item_id" value="{{item.pk}}" />
                  <input
                    type="hidden"
                    name="item_count"
                    value="1"
                    id="{{item.pk}}-counter-value" />
                  <button class="col-lg-12 btn btn-primary mb-0">
                    Add To cart
                  </button>
                </form>
              </div>
            </article>
          </div>
          {%endfor%}
        </div>
      </div>
    </div>
  </div>
  {%else%}
  <div
    class="d-flex align-items-center justify-content-center flex-column py-3">
    <img
      src="{% static 'images/empty-box.png'%}"
      alt="Empty-box"
      class="img-fluid" />
    <h3>No Items Found</h3>
  </div>
  {%endif%}
</div>
{%endblock%}
