{%extends 'base.html'%} {%load static% } 
{%block title%}Django-medic-shop{%endblock%} {%block content%}
<div class="container-fluid pt-2">
  <div class="px-xl-5">{%include 'components/carousels.html'%}</div>
  {%include 'components/badges.html'%}

  <div class="row px-xl-3 pb-2">
    <h2 class="text-uppercase mb-2" style="text-align: center">
      all categories
    </h2>
    {% for category in categories%}
    <div class="col-lg-3 col-md-6 pb-4">
      <div class="card hover-zoom ripple">
        <div class="bg-image">
          <img
            src="/media/{{category.image}}"
            class="card-image w-100"
            alt="{{category.image}}"
          />
        </div>
        <div class="card-body">
          <a
            href="{%url 'category-detailed' category.id%}"
            class="stretched-link"
          ></a>
          <h5 class="card-title text-muted">{{category.name}}</h5>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
</div>
{%include 'components/footer.html'%} {%endblock%}
