<footer class="container-fluid text-dark mt-2" style="background-color: #e3f2fd">
  <div class="row px-xl-5 pt-2">
    <div class="col-lg-5 col-md-12 mb-2 pr-3 pr-xl-5">
      <a href="{% url 'home'%}" class="text-decoration-none">
        <h2 class="my-2 font-weight-semi-bold">dj-medic-shop</h2>
      </a>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi soluta
        rerum neque maxime ipsum! Autem iure numquam cupiditate et perferendis
        assumenda fugiat voluptate quas ad, non, ea quibusdam, aperiam
        praesentium.
      </p>
      <p class="mb-2">
        <i class="fa fa-map-marker-alt text-primary mr-3 px-2"></i>XYZ VALLEY
      </p>
      <p class="mb-2">
        <i class="fa fa-envelope text-primary mr-3 px-2"></i>info@example.com
      </p>
      <p class="mb-0">
        <i class="fa fa-phone-alt text-primary mr-3 px-2"></i>+01234567890
      </p>
    </div>
  </div>
  <div class="text-center text-dark p-3" style="background-color: #e3f2fd">
    © 2022 Copyright: medic shop
  </div>
</footer>
