{% extends 'base.html' %} 

{% block content %} 
<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-5 mx-auto border rounded pt-4">
            <h3 class="alert alert-light border rounded mx-5">Create An Account</h3>
            <div>
                <form action="/signup" method="POST">

                    {% csrf_token %}
                    {% if error%}
                    <div class="alert alert-danger" role="alert">
                        {{error}}

                    </div>
                    {% endif %}
                <!-- firstname -->
                <div class="form-group">
                <label for="">First Name</label>
                <input type="text" name="firstname" id="" value="{{values.first_name}}" class="form-control" >
                </div>
                <!-- lastname -->
                <div class="form-group">
                <label for="">Last Name</label>
                <input type="text" name="lastname" id="" value="{{values.last_name}}" class="form-control">
                </div>
                <!-- phone no -->
                <div class="form-group">
                    <label for="">Mobile</label>
                    <input type="text" name="mobile" id="" value="{{values.mobile}}" class="form-control">
                </div>

                <!-- email -->
                <div class="form-group">
                    <label for="">Email</label>
                    <input required type="email" name="email" id="" value="{{values.email}}" class="form-control" placeholder="example@gmail.com">
                 <!-- password -->
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" name="password" id="" class="form-control" placeholder="*******">
                </div>
                <div class="form-group">
                    <input class="btn btn-sm btn-info" type="submit" value="Create An Account">
                </div>
                </form>
            </div>
        </div>
    </div>
<div>
{% endblock %}